/* Apply smooth scrolling to all elements within the body */
body,html {
    scroll-behavior: smooth;
  }
  
nav{
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}
